
 
<ul class="list-group lg-margin-top60">
  <div class="msse_img"><%= profile_img(@target) %><span class="target_name"><%= @target.name %>さんとのメッセージルーム</span></div>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <li class="list-group-item">
        <div class="content">
          <%= profile_img(user) %>
          <div ><strong><%= user.name %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>


<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<%= form_for [@conversation, @message], html: {class: "reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る" %>
  </div>

<% end %>