<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
     <p><%= notice %></p>
      <h1トピックス一覧</h1>
     <%= link_to '新しいトピック', new_topic_path , { :class => "btn btn-primary" }%>
    <% @topics.each do |topic| %>
    <div class="panel panel-default">
      <div class="panel-body">
      <h4><strong><%= topic.title %></strong></h4>
        <p><%= topic.content %></p>
        </div>
        <div class="panel-footer">
        <%= link_to 'Show', topic %>|
       <%= link_to 'Edit', edit_topic_path(topic) %>|
       <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
       
      </div>
    <% end %>
    
  </div>
</div>

