<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
     <p><%= notice %></p>
      <h1トピックス一覧</h1>
     <%= link_to '新しいトピックを投稿する', new_topic_path , { :class => "btn btn-primary" }%>
    <% @topics.each do |topic| %>
    <div class="panel panel-default">
      <div class="panel-body">
      <h4><strong><%= topic.title %></strong></h4>
        <p><%= topic.content %></p>
        <em>投稿者:<%= topic.user.name %></em><br>
        <span class="pro_img"><%= profile_img(topic.user) %><span>
        </div>
        <div class="panel-footer">
        <%= link_to '詳細', topic %>|
       <%= link_to '編集', edit_topic_path(topic) %>|
       <%= link_to '削除', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
       
      </div>
    <% end %>
    
  </div>
</div>

