<div class="container">
  <div data-sigil="flyout-content context-layer-root">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
     <p><%= notice %></p>
      <h1トピックス一覧</h1>
     <%= link_to '新しいトピックを投稿する', new_topic_path , { :class => "btn btn-primary",:style => "color:#fff;" }%>
    <% @topics.each do |topic| %>
    <div  class="col-md-8 col-md-offset-2">
    <% if topic.user.in?(@my_followed_users2) && topic.user.in?(@my_followers2) || current_user ==topic.user %>
    <div class="panel panel-default ">
      <header class="_4g33 _5qc1">
        <div class="_5i2i">
          <%= profile_img(topic.user) %>
          </div>
  
        <div class="name"><strong>
        <%= topic.user.name %></strong></div>
      </header>
      <div class="panel-body">

          <h4><strong><%= topic.title %></strong></h4>

      
        <p><%= topic.content %></p>
       
        
        </div>
        <div class="panel-footer">
        <%= link_to '詳細', topic %>
        <% if topic.user.id == current_user.id %>
        |<%= link_to '編集', edit_topic_path(topic) %>|
       <%= link_to '削除', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
       </div>
       
       <% else %>
           <!--（自分がフォローしていて　相手も自分をフォローしている）でないトピックは表示しない-->
       <% end %>
       </div>
      </div>
    <% end %>
    
  </div>
   </div>
</div>

