<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
<div class="panel-body">
<p>
  <strong>タイトル:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>トピック内容:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @topic.user.name %>
</p>

</div>
</div>

<%= link_to '編集', edit_topic_path(@topic), class: "btn btn-primary btn-block" %> 
<%= link_to '一覧へ戻る', topics_path , class: "btn btn-primary btn-block"%>

</div>
</div>