<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
<div class="panel-body">
  
<p>
  <span class="pro_img"><%= profile_img(@topic.user) %></span><span class="margin-left10"><%= @topic.user.name %></span>
</p>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <p ><%= @topic.title %></p><p ><%= @topic.created_at.strftime("%m/%d %p %l:%M") %> </p></li>
    <li class="list-group-item"><%= @topic.content %> </li>
  </ul>

</div>
<div class="panel-footer">
<p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
    </div>
    
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
</div>

</div>


    <% if current_user.id == @topic.user_id %>
      <%= link_to '編集', edit_topic_path(@topic) ,class: "btn btn-primary btn-block" %> 
    <% end %>
    <%= link_to '一覧へ戻る',topics_path, class: "btn btn-primary btn-block" %>

</div>
</div>