<div class="container">
  <h2 class="notifications_title">トピックに対するコメント</h2>
  <hr>
  
  <!--roop start-->
  <% @notifications.each do |notification| %>
   <% unless notification.comment.user.id == current_user.id %>
    <ul class="notification-list">
      <li>
        <span class="label label-pill label-default"><%= display_read_status(notification.read) %></span>
        <p class="notifications text_color_black">
          <a href="/topics/<%= notification.comment.topic.id %>" style="color: black;">
          <div class="comment_prof_img"><%= profile_img(notification.comment.user) %></div>
          <%= receive_user(notification) %>さんが
          <small class="dropdown">トピック「<%= notification.comment.topic.title %>」にコメントしました。</small>
        　<p class="margin_0">「 <%= notification.comment.content %>」</p></a>
        　
        </p>
        <p class="palette-paragraph text-right">
          <small class="dropdown">
            <i class="fa fa-clock-o"></i>&ensp;<%= posted_time(notification.created_at) %>
          </small>
        </p>
      </li>
      <hr>
    </ul>
   <% end %>
  <% end %>
 <!--roop end-->
 
</div>