<div class="flyout">
  <div class="friends" >ユーザー   <%= link_to "あなたをフォローしているユーザー", followers_user_path(current_user.id), class: 'btn btn-default btn-sm btn-success'  %></div>

  
 <% @users.each do |user| %>
 <% if user.id != current_user.id %>
      <div class="_4l9b ">
        <a href="/users/<%= user.id %>/show_user">
        <%= profile_img(user) %>
         <%= user.name %></a>
        
        <%= render 'follow_form', user: user %>

      </div>
  <% end %>
  <% end %>
</div>