<div class="container">
  <h2>ユーザー</h2>
    <%= render @users%>
  
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <a href="/users/<%= user.id %>/show_user">
        <%= profile_img(user) %>
         <%= user.name %></a>
        <%= user.email %>
        <%= render 'follow_form', user: user %>

      </div>
  <% end %>
</div>